QWidget {
    margin:0px;
    padding: 0px;
    
}

QLabel {
    font-size : 50px;
    qproperty-alignment : 'AlignCenter';
    margin-bottom:0px;
}

QLineEdit {
    margin: 0px;
    padding: 0px;
}
 